body {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}


#nameplate{
    width: 80vw;
    height: 20vh;
    background-color: red;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3vw;
}

#icon{
    width: 16vw;
    height: 16vw;
}

p{
    color: white;
}
